<section class="c-finder">
    <h1 class="c-finder__title">{{'title' | translate}}</h1>
    <div>
        <dogs-select
            [literals]="selectLiterals$ | async"
            [items]="breeds$ | async"
            (selectedChange)="fetchImages($event)">
        </dogs-select>
        <button class="c-finder__random" nbButton [disabled]="initialState" (click)="fetchImages(currentPath)">
            <nb-icon icon="sync-outline"></nb-icon>
        </button>
    </div>
    <dogs-photo
        class="c-finder__gallery"
        [literals]="photoLiterals$ | async"
        [images]="breedImages$ | async"
        [loading]="loading">
    </dogs-photo>
</section>
