:host {
	--finder-container-width: var(--container-width, 500px);
}

.c-finder {
	display: grid;
	grid-gap: 25px;
	grid-template-columns: repeat(auto-fill, minmax(auto, 100%));
	justify-items: center;
	align-items: stretch;
	margin: 0 auto 50px auto;
	max-width: var(--finder-container-width);

	&__title {
		font-size: 2rem;
	}

	&__random {
		margin-left: 15px;
	}

	&__gallery {
		width: 100%;
	}
}
